.image-cards__list{
   list-style-type: none;
   padding: 0;
   display: grid;
   grid-template-columns: repeat(4, 284px);
   gap: 16px;
   justify-content: center;
   margin: 0;
}
@media screen and (max-width:1200px){
   .image-cards__list{
      grid-template-columns: repeat(3, 300px);
      gap: 14px;
   }
}
@media screen and (max-width:1010px){
   .image-cards__list{
      grid-template-columns: repeat(2, 352px);
      gap: 16px;
   }
}
@media screen and (max-width: 740px){
   .image-cards__list{
      grid-template-columns: 288px;
      gap: 12px;
   }
}