.cover__title{
   font-size: 72px;
   line-height: 1.06;
   font-weight: 900;
   text-align: center;
   position: relative;
   margin-top: 1px;
   max-width: 560px;
}
@media screen and (max-width:748px){
   .cover__title{
      font-size: 32px;
      line-height: 1.09;
      max-width: 255px;
   }
}
