.footer{
   display: flex;
   justify-content: space-between;
   box-sizing: border-box;
   padding: 64px 48px 12px 48px;
}
@media screen and (max-width:758px){
   .footer{
      flex-direction: column;
      padding: 0;
   }
}